<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AngularJS W3</title>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>

  <!-- Main use of 'ng' directives -->
  <!-- <div ng-app="">
    <p>Name: <input type="text" ng-model="name"></p>
    <p ng-bind="name"></p>
  </div> -->

  <!-- Use of variables -->
  <!-- <div data-ng-app="" data-ng-init="firstName='John'">
    <p>The name si <span data-ng-bind="firstName"></span></p>
  </div> -->

  <!-- Use of expressions with AngularJs -->
  <!-- <div ng-app="">
    <p>My first expression: {{ 5 + 5 }}</p>
  </div> -->

  <!-- <div ng-app="">
    <p>Name: <input type="text" ng-model="name"></p>
    <p>{{ name }}</p>
  </div> -->

  <!-- AngujarJS Applications -->
  <!-- <div ng-app="myApp" ng-controller="myCtrl">

    First Name: <input type="text" ng-model="firstName"><br>
    Last Name: <input type="text" ng-model="lastName"><br>
    <br>
    Full Name: {{ firstName + " " + lastName }}

  </div>

  <script>
  var app = angular.module('myApp', []);
  app.controller('myCtrl', function($scope){
    $scope.firstName = "Misael";
    $scope.lastName = "Calvillo";
  });
  </script> -->

  <!-- Modify CSS with AngularJS -->
  <!-- <div ng-app="" ng-init="myCol='lightblue'">
    <input type="text" style="background-color: {{ myCol }}" ng-model="myCol">
  </div> -->

  <!-- Create our own directives -->
  <div ng-app="myApp" misa-test-directive>

    <!-- directive: misa-test-directive -->

  </div>

  <script>
    var app = angular.module("myApp", []);

    app.directive("misaTestDirective", function() {
      return {
        template: 'I was made in a directive constructor!'
      };
    });
  </script>

  <!-- Use of 'ng-repeat' directive -->
  <!-- <div ng-app="" ng-init="nombres=['Jani', 'Misa', 'Baza', 'Angelo']">
    <ul>
      <li ng-repeat="nombre in nombres">{{ nombre }}</li>
    </ul>
  </div> -->

</body>
</html>